:root {
  --txt-clr-box: #b88e2f;
  --fnt-family-box: Poppins, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
}
html,body{
  overflow-x: hidden;
}
i {
  color: #000;
}
.home-page{
  display: flex;
  flex-direction: column;
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1em;
  /* padding-inline:1em;*/
}
.site-header__branding {
  display: flex;
  margin-inline-start: 2em;
  align-items: center;
  gap: .6rem;
}
.site-header__logo{
  width: 30%;
}
.site-header__nav-list {
  display: flex;
  list-style: none;
  gap: 4rem;
  font-weight: 500
}
.site-header__nav-link {
  color: black;
  text-decoration: none;
}
.fa-solid, .fa-regular{
  padding-inline-end: 2.5em;
}
.search-box{
  display: none;
  width: 100%;
  max-width: 400px;
  padding: 0.8rem 0.9rem;
  border-radius: 24px;
  border: 1px solid #ccc;
  outline: none;
}
.search-box::placeholder{
  font-size: .9rem;
}
.search-box:focus {
  border-color: var(--txt-clr-box)
}

/* Tablet view */
@media (max-width: 1024px){
  .site-header{
    flex-wrap: wrap;
    padding-inline: 1.5em;
  }
  .site-header__branding{
    margin-inline-start: 0;
    gap: .3rem;
  }
  .site-header__title{
    font-size: 1.3rem;
  }
  .site-header__nav-list{
    gap: 2rem;
    font-size: .95rem;
  }
  .fa-regular .fa-solid{
    font-size: .9rem;
    padding-inline-end: 1.2em;
  }
}
/* mobile view */
@media (max-width:770px){
  .site-header{
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    padding-inline: 1.5em;
  }
  .site-header__logo{
    /* width: 35%; */
    transform: scale(0.9);
  }
  .site-header__title{
    font-size: 1.3rem
    }
      .site-header__nav-list{
    font-size: .95rem;
    gap: 1.5rem;
    font-weight: 600;
  }
  .site-header__nav-icons i{
    font-size: 0.95rem;
    padding-inline-end: 2em;
    padding-block-start: 1em;
  }
  
}
.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.hero-section__image {
  background-image: url('icon/first-body-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.hero-section__text-box {
  position: absolute;
  top: 30%;
  right: 10%;
  background-color: #f9ead8;
  padding: 2em;
}

.hero-section__tagline {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: .875em;
  color: #333;
}

.hero-section__title {
  color: var(--txt-clr-box);
}

.hero-section__description {
  margin-block-start: 0.7em;
  font-weight: 500;
  color: #333;
  font-size: 1.125rem;
}

.hero-section__btn {
  background-color: var(--txt-clr-box);
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 1.3em 3.8em;
  margin-block-start: 2em;
}
@media(max-width:1024px){
  html{
    font-size: 15px;
  }
  .hero-section__text-box{
    top: 35%;
    right: 5%;
    padding: 1.5em 2em;
    max-width: 60%;
  }
  .hero-section__title{
    font-size: 1.8rem;
  }
  .hero-section__description{
    font-size: 1rem;
  }
  .hero-section__btn{
    padding: 1em 3em;
  }
  .hero-section__title{
    font-size: 1.3rem;
    line-height: 1.2;
  }
}
@media(max-width:780px){
  html{
    font-size: 14px;
  }
    .hero-section__text-box{
      top: 25%;
      right: 6%;
      max-width: 80%;
      padding: 1.5em ;
    }
    .hero-section__title{
      font-size: 1.5rem;
      line-height: 1.3;
    }
    .hero-section__description{
      font-size: 1rem;
      line-height: 1.4;
    }
    .hero-section__btn{
      font-size: .9rem;
      padding: 1em 2.5em;
    }
}

.browse-range{
  margin-block-start: 3em;
}
.browse-range__text-box{
  text-align: center;
  color: rgb(60, 58, 58);
}

.browse-range__items{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-block-start: 3em;
}
.browse-range__card{
  width: 25%; 
}
 .browse-range__card-image{
  width: 100%;
  height: auto;
  border-radius: 0.8rem
}
.browse-range__card-title{
  text-align: center;
  font-size: 1.17rem;
  color: #2b2a2a;
  font-weight: 600;
  padding-block-start: 1em
}

@media(max-width:1024px){

  .browse-range__title{
    font-size: 1.5rem;
  }
  .browse-range__description{
    font-size: 1rem;
    width: 90%;
    margin-inline: auto;
  }
  .browse-range__items{
    gap: 2rem;
  }
  .browse-range__card{
    width: 28%;
  }
}
@media(max-width:780px){
  .browse-range{
    margin-block-start: 2em;
  }
  .browse-range__title{
    font-size: 1.5rem;
  }
  .browse-range__description{
    font-size: .95rem;
  }
.browse-range__items{
  flex-direction: column;
  align-items: center;
}
  .browse-range__card{
    width: 80%;
  }
  .browse-range__card img{
    width: 100%;
    border-radius: 8px;
  }
  .browse-range__card-title{
    font-size: 1.2rem;
  }
}
.products{
  margin-block-start: 3em;
}
.products__title{
  text-align: center;
  color: #333;
}
.products__items{
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 1.5rem;
  width: min(90%, 1200px);
  margin-inline: auto;
}
 .products__card-image{
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;  
} 
.products__card-imageBox{
  position: relative;
  overflow: hidden;
}
.products__overlay{
  position:absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  gap: 1rem;
}
.add-to-cart{
  background: #fff;
  color: var(--txt-clr-box);
  padding: 1em 3.5em;
  border: none;
  font-weight: 600;
  font-size: .85rem;
  cursor: pointer;
  transition: 0.2s;
}
.add-to-cart:hover{
  background: #ddd;
}
.products__actions{
  display: flex;
  gap: 20px;
  font-size: 0.95em;
  font-weight: 600;
  margin-block-start: 1em;
}
.products__actions span{
  cursor: pointer;
}
.products__card-imageBox:hover .products__overlay{
  opacity:1;
}
.products__card-imageBox:hover img{
  opacity: 0.4;
}
.products__card-box{
  background-color: #efefef;
  padding-inline-start: 1em;
  padding-block-end: 1em;
}
.products__card-title{
  font-weight: 600;
  font-size: 1.25em;
  color: #2b2a2a;
  padding-block-start: 1em;
}
.products__card-description{
 padding-block-start: 0.275rem;
 color: gray; 
 font-weight: 500;
 font-size: .875rem;
padding-block-end: .4em;
}
.products__price{
  display: flex;
  gap: .475rem;
}
.products__card-price{
  font-size: 1.1em;
  font-weight: 600;
  color: rgb(60, 58, 58);
}
.products__card-ogPrice{
  font-size: 0.8rem ;
  text-decoration: line-through ;
  color: gray; 
  padding-block-start: 0.2rem;   
}
.products__button{
  display: block;
  margin: 1.8em auto 3em;
  border: 1px solid var(--txt-clr-box);
  color: var(--txt-clr-box);
  background:#fff;
  font-size: .95em;
  font-weight: 600;
  padding: 1em 5em;
}
.products__button:hover{
  background-color: var(--txt-clr-box) ;
  color: #fff;
}

@media (max-width:1080px){
  .products__items {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
  .products__price {
    align-items: center;
    font-size: .85rem;
  }
  .products__card-description {
    font-size: .75rem;
  }
  .products__card-ogPrice {
    font-size: .6rem;
  }
}

.horizontal-line{
  border-block-start: 1px solid #ccc;
  margin-block-start: 1em;
}
.horizontal-margin{
  border-block-start: 1px solid #ccc;
  margin-inline-start: 5em;
  margin-inline-end: 5em;
}
.footer{
  margin-block-start: 2em;
}


.footer__brand-title{
  font-weight:800;
  padding-block-end: 2.5em
}
.footer__brand-address{
  color:rgb(169, 167, 167);
  font-weight: 400;
  font-size:.9.5rem;
  line-height: 1.5;
  letter-spacing: 1.5;
}
.footer__heading{
  display:flex;
  gap:8rem;
  
}
.footer__title{
  color:rgb(164, 157, 157);
  font-weight:500;
  padding-block-end: 3.5em;
}

.footer__items{
 list-style:none;
}
.footer__lists{
  padding-block-end: 2.5em;
}
.footer__links{
  text-decoration:none;
  color:black;
  font-size:1rem;
  font-weight:500;
  
}
.footer__input{
  font-size:.9rem;
  padding-block-end: .35em;
  outline: none;

}
.footer__input::placeholder{
  color: rgb(164, 157, 157);
  font-weight: 400;
}
.footer__sub-btn{
  border: none;
  background-color: white;
  border-bottom: 1px solid black;
  margin-inline-start: .8em;
  padding-block-end: .45em;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: .03rem;
}
.footer__sub-btn:hover{
  background-color: black;
  color: #fff;
  cursor: pointer;
}
.footer__input{
  border: none;
  border-bottom: 1px solid black;
}
.footer-container{
  display: flex;
  gap:10rem;
  margin-inline-start: 5em;
  margin-block-start: 3.5em;
}
.footer__copyright{
  margin-inline-start: 5em;
  margin-block-start: 2.5em;
  margin-block-end: 2.5em;

}
@media(max-width: 1024px){
  .footer{
    margin-block-start: 0;
  }
  .footer-container{
    flex-direction: column;
    gap: 3rem;
    margin-inline-start: 2.5em;
    margin-inline-end: 2.5em;
  }
  .footer__heading{
    flex-wrap: wrap;
    gap: 4rem;
  }
  .footer__brand-title{
    padding-block-end: 1.5em;
  }
  .footer__title{
    padding-block-end: 2em;
  }
  .footer__lists{
    padding-block-end: 1.5em;
  }
  .footer__copyright{
    margin-inline-start: 2.5em;
  }
}

@media(max-width: 780px){
  .footer-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-inline: 1.5em;
  }
  .footer__heading{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .footer__brand-address{
    font-size: .9rem;
    line-height: 1.6;
  }
  .footer__title{
    padding-block-end: 1em;
  }
  .footer__input{
    width: 70%;
    text-align: center;
  }
  .footer__sub-btn{
    margin-inline: 0;
    margin-block-start: 2.5em;
    border: 1px solid black;
    background: #000;
    color: #fff;
    padding: .8em 1em;
  }
  .footer__copyright{
    text-align: center;
    margin-inline: 0;
  }
  .horizontal-margin{
    border-block-start: 1px solid #ccc;
    margin-block-start: 2em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
/* shop page */
.shop-banner{
  position: relative;
  width: 100%;
  height: 260px;
}
.shop-banner__image{
  background-image: url('shop-icon/banner.jpg');
  opacity: .5;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shop-banner__text-box{
  position: absolute;
  top: 40%;
  right: 45%;
}
.shop-banner__heading{
  font-weight: 500;
  font-size: 1.8rem;
}
.shop-banner__nav-link{
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.shop-banner__nav-link:after{
  content: '\003E';
  padding-inline-start: .3em;
  padding-block-start: .3em;
  font-size: 1.5rem;
  padding-block-start: 1em;

}
.shop-banner__nav-linkShop{
  color: #000;
  text-decoration: none;
  font-weight: 300;
  display: inline;
}
.shop-toolbar{
  display: flex ;
  align-content: center;
  align-items: center;
  background-color: #faf2e8;
  height: 100px;
  /* padding: 2.5em 0; */
}
.shop-toolbar__filter-btn, .shop-toolbar__grid-view, .shop-toolbar__interface{
  background: #faf2e8;
  border: none;
  font-size: 1.2rem;
  padding-inline-end: 1.5em;
  /* margin-block-start: 2em; */

}
.vertical-line{
  border-inline-start: 2px solid #959292;
  height: 30%;
}
.shop-toolbar__results-info{
  margin-inline-start: 1.3em;
}
.shop-toolbar__button{
  margin-inline-start: 5em;
}
.shop-shortShow__select{
  font-size: 1.2rem;
  margin-inline-start: 25em;
  display: flex;
  gap: 1rem;
}

#shop-toolbar__short-input{
  border: none;
  padding-inline-start: 1em;
}
.shop-products__btn{
  text-align: center;
  margin-block-start: 2.5em;
}
.shop-products__btn button{
  background-color: rgba(250, 243, 234, 1);
  border: none;
  padding: .8em 1em;
  border-radius: 8px;
  margin-inline-end: 1em;
  
}
.shop-products__btn button:hover{
  background-color: var(--txt-clr-box);
  color: #fff;
}
.shop-info{
  background-color: #faf2e8;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  margin-block-start: 3em;
  padding: 3.5em 2em ;
}
.shop-info__head{
  font-size: large;
  font-weight: 600 ;
  font-family: poppins,sans-serif;
}
.shop-info__quality,.shop-info__warranty,.shop-info__shipping,.shop-info__support{
  display: flex;
  gap: 1rem;
}
.shop-info__icon{
  font-size: 2.8rem;
}
.shop-info__naming{
  margin-block-start: .5em;
}
.shop-info__naming .shop-info__desc{
  color: gray;
  font-size: .9rem;
  font-weight: 500;
}

.product__banner{
  background-color: #faf2e8;
  display: flex;
  gap: 1rem;
  height: 100px;
  align-items: center;
  /* padding: 2.5em 0 ; */
  
}
.product__banner-link{
  color: #726969;
  font-size: 1rem;
  text-decoration: none;
}
.product__banner-texts{
  margin-inline-start: 6em;
}

.product-page{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-inline-start: 3em;
}
.product-page__gallery{
  display: grid;
  grid-template-columns: 88px 1fr;
  gap: 1.2rem;
  align-items: center;
}
.gallery-column__thumbs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-inline-start: 1em;
}
.thumbs button{
  width: 100%;
  height: 80px;
  display: inline-flex;
  border: 2px solid transparent;
  background: #fff;
  padding: .25em;
  /* align-content: flex-start; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.thumbs button img{
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.main-image{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  /* border-radius: 8px; */
}
.main-image img{
  width: 100%;
  max-width: 680px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;

} 

.product-info{
  margin-block-start: 2em;
  font-family: "Helvetica Neue", sans-serif;;
  margin-inline-start: 2em;
}
.product-info__head{
  font-family: 'Helvetica', sans-serif ;
  font-size: 2rem;
  font-weight: 500;
}
.product-info__price{
  color: #7e7b7b;
  margin-inline-start: .1em;
  margin-block-start: .3em;
}
.rating-row{
  color: #f3b84b;
  margin-block: .6em;
  font-size: 1.1rem
}
.rating-row small{
  color: #7b8794;
}
.product-info__desc{
  width: 50%;
  font-size: .875rem;
  line-height: 1.45;
}

.product-info__size{
  margin-block-start: 1.5em;
}
.product-sizeClr{
  color: #7b8794;
  font-size: 0.875rem;
}
.sizes{
  margin-block-start: 1em;
  margin-block-end: 1.5em;
}
.size{
  background: #faf2e8;
  border: none;
  padding: .6em .9em;
  border-radius: 5px;
  font-size: .7rem;
  margin-inline-end: 1em;
}
.size:hover{
  background: var(--txt-clr-box);
  color: #fff;
}


.swatches{
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-block-start: 1em;
  margin-block-end: 2em;
}
.product-info__swatch{
  width: 4%;
  height: 30px;
  border-radius: 100%;
  border: none;
}
.swatch-blue{
  background: linear-gradient(#bcd2ff,#6b9cf0);
}
.swatch-black{
  background: linear-gradient(#222,#0b0b0b);
}
.swatch-beige{
  background: linear-gradient(#e6d5a0,#c4a86b);
}

.actions{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.875rem;
}
.product-info__qty{
  width: 25%;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 ;
  /* overflow: hidden; */
  border-radius: 8px;
}
.product-info__qty button{
  /* width: 40%; */
  /* height: 100%; */
  background: transparent;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  padding: 1em 1em;
}

#dec{
  border: none;
  background: none;
}
#inc{
  border: none;
  background: none;
}
/* #qty{
  border: none;
  font-family: poppins,sans-serif;
  font-size: 1rem;
  font-weight: 500;
} */
.quantity{
  /* width: 20%; */
  justify-content: center
}
.product-info__btn{
  background: #fff;
  border: 1px solid black;
  padding: .8em 2.2em;
  border-radius: 8px;
  text-align: center;
  font-family: poppins,sans-serif;
  cursor: pointer;
}
.btn-primary{
  text-transform: capitalize;
}
.product__horizontal-margin{
  border: 1px solid #ccc;
  margin-inline-start: 52em;
}

.product-info__footer{
  margin-inline-start: 52em;
  margin-block-start: 2.5em;
  margin-block-end: 4em;
}
.product-info__footer-text{
  color: rgb(169, 167, 167);
  font-size: .9em;
  font-weight: 400;
  margin-block-start: 1em;
}
.product-info__footer-colon{
  margin-inline-start: 4em;
}
.product-info__footer-tCategory .product__footer-colon{
  margin-inline-start: 1.2em;
}
.product-info__footer-tTags .product__footer-colon{
  margin-inline-start: 3.5em;
}
.product-info__footer-right{
  margin-inline-start: 1.3em;
}
.product-info__footer-tShare .product__footer-colon{
  margin-inline-start: 3em;
}
.product-info__footer-icon{
  margin-inline-end: 1em;
  width: 2.5%;
}

.product__info-tab{
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 3rem;
  margin-block-start: 2.5em;
  margin-block-end:  2.5em;
  color: #555;
}
.add-info__tab{
  font-size: 1.1rem;
  font-weight: 500;
}
.product__info-tab .black{
  color: black;
  font-weight: 600;
}
.product__info-para{
  width: 65%;
  margin: 0 auto;
  line-height: 1.6;
  margin-block-end: 2.5em;
  text-align: justify;
}
.product__add-infoImages{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.product__related-head{
  text-align: center;
  margin-block-start: 1.5em;
  font-size: 1.5rem;
}
.product__button{
  width: 15%;
  margin-inline: 55em;
  font-size: .9em;
  padding: .8em 3em;
  font-weight: 600;
  padding: 1em 2em;
  margin-block-start: 2.5rem;
  margin-inline-start  : 41rem;
  margin-block-end: 3em;
  border: 1px solid #b88e2f;
  color: #b88e2f;
  background:#fff;
}
.side-cart{
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #fff;
  width: 35%;
  max-width: 26rem;
  height: 100vh;
  padding: 1.5rem;
  z-index: 1000;
  transition: right 0.3s ease;
}
.cart-open{
  right: 0;
}
@media (max-width: 768px){
  .side-cart{
    width: 85%;
  }
}
.cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-name{
  font-family: helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}
.close-cart{
  background-color: #fff;
  border:none;
  font-size: large;
  cursor: pointer;
}
.cart-items{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart-item{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-item__img{
  width: 40%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.cart-item__img img{
  width: 75%;
  height: 70%;
  object-fit: contain;
  border-radius: 15px;
}
.item-details{
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.item-meta{
  display: flex;
  align-items: center;
  gap: .8rem;
}
.item-price{
  font-size: .5rem;
}
.remove-item{
  background: none;
  border: none;
  font-size: 1rem;
  margin-left: auto;
  cursor: pointer;
}
.cart-subtotal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.cart-actions{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  
}
.cart-actions .btn-outline{
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid black;
  padding: .5rem 1.5rem;
}
