:root {
  --txt-clr-box: #b88e2f;
  --fnt-family-box: Poppins, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;

}

i {
  color: #000
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
}

.site-header__branding {
  display: flex;

}

.site-header__branding .site-header__title {
  padding-inline-start: 0.30rem;
}

.site-header__nav-list {
  display: flex;
  list-style: none;
  gap: 4.5rem;  
  font-weight: 500
}

.site-header__nav-link {
  color: black;
  text-decoration: none;
}

.fa-solid {
  padding-inline-end: 2.5rem;
}

.fa-regular {
  padding-inline-end: 2.5rem;
}

.first-page {
  background-image: url('first-body-image.jpg');
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-section__image {
  background-image: url('icon/first-body-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.hero-section__text-box {
 
  position: absolute;
  top: 30%;
  right: 10%;
  background-color: #f9ead8;
  padding: 2rem;
}

.hero-section__tagline {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: .875rem;
  color: #333;
}

.hero-section__title {
  color: var(--txt-clr-box);
}

.hero-section__description {
  margin-block-start: 0.7rem;
  font-weight: 500;
  color: #333;
  font-size: 1.125rem;
}

.hero-section__btn {
  background-color: var(--txt-clr-box);
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 20px 60px;
  margin-block-start: 2rem;
}

.browse-range__text-box, .products__title{
  text-align: center;
  margin-block-start: 3rem;
}
.browse-range__text-box .browse-range__title, .products__title{
  font-size: 28px;
  color: rgb(60, 58, 58);
}
.browse-range__text-box .browse-range__description{
  color:#4e4c4c;
  font-size: 18px;
}
.browse-range-items{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-block-start: 3rem;
}
.browse-range__card{
  width: 380px;
  text-align: center;
}
 .browse-range__card-image{
  width: 100%;
  height: auto;
  border-radius: 0.8rem
  
}
.browse-range__card-title{
  font-size: 24px;
  color: #2b2a2a;
  font-weight: 600;
  padding-block-start: 1rem
}

.products__items{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4,250px);
  margin-inline-start: 13rem;
}
.products__card{
  margin-block-start: 2rem;
}
 .products__card-image{
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block; 
} 
.products__card-box{
  background-color: #efefef;
  margin-block-start: 0;
  padding-inline-start: 1rem;
  padding-block-end: 1rem;
}
.products__card-title{
  font-weight: 600;
  font-size: 20px;
  color: #2b2a2a;
  padding-block-start: 1rem;
}
.prodcuts__card-description{
 padding-block-start: 2px;
 color: gray; 
 font-weight: 500;
}
.products__card-price{
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(60, 58, 58);
}
.products__card-ogPrice{
  font-size: 0.8rem ;
  text-decoration: line-through ;
  color: gray; 
  padding-inline-start: 1rem;
  padding-block-start: 0.2rem;  
}
.products__price{
  display: flex;
}
.products__button{
  border: 1px solid #b88e2f;
  color: #b88e2f;
  background:#fff;
  font-size: 13px;
  font-weight: 600;
  padding-block: 16px;
  padding-inline: 5rem;
  margin-block-start: 1.8rem;
  margin-left  : 41rem;
}
.products__card-imageBox{
  position: relative;
  overflow: hidden;
}
.products__overlay{
  position:absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  gap: 1rem;
}
.add-to-cart{
  background: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}
.add-to-cart:hover{
  background: #ddd;
}
.products__actions{
  display: flex;
  gap: 20px;
  font-size: 14px;
}
.products__card-imageBox:hover .products__overlay{
  opacity:1;
}
.products__card-imageBox:hover img{
  opacity: 0.4;
}
